body, html {
height: 100%;
}

header{
  background-color: white;
  height: 100%;
  text-align: left;
}
body {
  background-color:#ffc8dd;
  background-image: url(./Images/istockphoto-915581792-1024x1024.jpg);
}

.contact-box {
  background-color:#f8f9fa;
  border-radius: 10px;
  padding:50px;
  width: 50%;
  margin:0 auto;

}

textarea {
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
}
button {
  background-color:#ffc8dd;
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 20px;


}

h1{
  text-align: center;
}

textarea {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
p{
  text-align: center;
}


